tenancy_ocid       = "ocid1.tenancy.oc1..example"
user_ocid          = "ocid1.user.oc1..example"
fingerprint        = "aa:bb:cc:dd:ee:ff:11:22:33:44:55:66:77:88:99:00"
private_key_path   = "~/.oci/oci_api_key.pem"
region             = "us-ashburn-1"
compartment_ocid   = "ocid1.compartment.oc1..example"
project_name       = "spot-scam"
environment        = "prod"
kubernetes_version = "v1.30.1"
node_shape         = "VM.Standard.E4.Flex"
node_count         = 3
